.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vien{
  border: 5px solid gray;
  
}
ul li{
  display: flex;
  padding: 14px;
  
}
ul{
  margin-left: 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}
.facilities{
  font-size: 60px;
  text-align: center;
  color: white;
  height: 300px;
  width: 100%;
  padding-top: 100px;
  background-size: cover; 
  background-image: url("https://img3.thuthuatphanmem.vn/uploads/2019/07/13/anh-dep-khu-nghi-duong-o-nha-trang_085936094.jpg");
}
.chuThich a{
  text-decoration: none;
  font-family: segoe ui light;
  

}
.chuThich{
  color: grey;
  font-size: 13px;
  margin-left: 100px;
  margin-block-end: 2px;
  padding: 0px;
}
.chuThich:hover{
  color: rgb(233, 44, 44);

}
.delete{
  margin-left: 20px;
}
.search_form{
  justify-content: end;
  display: flex;

}
.search_form form{
  display: flex;

}