*{
    margin: 0;
}
.so_1{
    background-image: url(pasted_image_0-removebg.png);
    height: 750px;
    
}

.so_1 header{
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    position: relative;
    margin: 0px 7%;
}
.so_1 header> ul{
    display: flex;
   list-style: none;
   
}
.so_1 header ul li, li.menu a{
    padding: 12px 14px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    position: relative;
}
li.menu ul li{
    color: black;
   
}
.so_1 header ul li:hover{
    color: black;
    transition: 1s;
}
li.menu:hover a {
    color: black;
}
li.menu ul li:hover{
    background-color: bisque;
    border-radius: 7px;
    transition: 1s;
}
.so_1 header ul ul{
  visibility: hidden;
  position: absolute;
  top: 45px; left: 25px;
  background-color: white;
  list-style: none;
  text-align: center;
  padding: 0;
  border-radius: 7px;

}
.so_1 header ul li.menu:hover ul{
  visibility: visible;
  
}

.so_1 .main_1{
    position: absolute;
    top:280px; left: 168px;
    text-align: center;
    width: 39%;
    display: block;
    
}
.so_1 .main_1 p.sm{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    line-height: 55px;
}
    .so_1 .main_1 p.title{
    color: white;
    font-weight: 900;
    font-size: 52px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 75px;
    text-align: center;
}
.so_1 .main_1 span{
    line-height: 20px;
    font-size: 15px;
    display: block;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 17px;
}
.so_1 .main_1 button{
    margin-top: 20px;
    padding: 11px 45px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
}
.so_1 .main_1 button:hover{
    background-color: rgba(128, 128, 128, 0.429);
}

/* section 2 */

.so_2{
    height: 820px;
    background-color: white;
    position: relative;
}
.so_2 img{
    position: absolute;
    top: 100px; left: 168px;
    width: 388px;
    height: 637px;
    border-radius: 5px;
    opacity: 0.8;
}
.so_2 .nd{
    position: absolute;
    center
    background-color: white;
    width: 42%;
    top:158px;
    left: 500px;
    padding: 51px 67px 194px;
    line-height: 23px;
    /* viền mờ ngoài là mặc định còn dùng inset là viền trong */
    box-shadow: 9px 3px 18px #d5d5d5;
    border-radius: 3px;
}
.so_2 .nd p.th{
    font-weight: 900;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 15px;
}
.so_2 .nd p.doanvan{
    line-height: 23px;
    font-size: 18px;
}

/* section 3 */
.so_3{
    height: 600px;
    background-color: white;
    text-align: center;
    position: relative;
}
.so_3 header{
    background-image: url(https://khoinguonsangtao.vn/wp-content/uploads/2022/07/anh-phong-canh-anime-dep-danh-cho-may-tinh.jpg);
    padding: 151px 14px;
    line-height: 35px;
    
}
.so_3 header h1{
    color: white;
    font-size: 40px;
}
.so_3 header p{
    color: white;
    font-size: 17px;
}
.so_3 ul{
    list-style: none;
    position: absolute;
    display: flex;
    top: 300px; left: 115px;
    
}
.so_3 ul li{
    
    background-color: white;
    padding: 14px 65px;
    border-radius: 4px;
    margin: 14px;
    line-height: 2;
    box-shadow: 0px 3px 15px #fc8a569b;
}
.so_3 ul li h1{
    color: #ed6c52;
    font-size: 60px;
    font-family: segoe ui;
}
.so_3 ul li p{
    color: black;
    font-size: 14px;
    font-weight: 500;
}

